<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AresSimpleAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B3CF3321EB87E9300216F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B3CF34E1EB87E9400216F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B3CF3591EB87E9400216F53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
